quarkus/code-quarkus-with-cxf/src/main/resources/wsdl/verificaContaCpfTitularidade.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '4.3'. -->
<definitions targetNamespace="http://caixa.gov.br/sid09/verificaContaCpfTitularidade" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/req" xmlns:resns="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/resp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://caixa.gov.br/sid09/verificaContaCpfTitularidade">
   <types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/req" xmlns:tns="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/req">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.3</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="request" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:annotation>
                           <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.suppressedField1=DE,de1=1,de2=210,de3=0,a1=false,a4=fixed,a10=false</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:element name="entrada" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="ic_titularidade" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="tipo_pessoa" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="nu_cpf_cnpj" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="99999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="nu_conta" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="verificaContaCpfTitularidade" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/resp" xmlns:tns="http://caixa.gov.br/sid09/verificaContaCpfTitularidade/resp">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.3</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="response" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="controle" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="codigo_retorno" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="99"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="codigo_retorno_negocio" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="99"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="tipo_mensagem" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="2"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="numero_mensagem" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mensagem" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="200"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="entrada" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="ic_titularidade" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="tipo_pessoa" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedShort">
                                          <xsd:maxInclusive value="9"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="nu_cpf_cnpj" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="99999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="nu_conta" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedLong">
                                          <xsd:maxInclusive value="999999999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="verificaContaCpfTitularidadeResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="verificaContaCpfTitularidadeResponse">
      <part element="resns:verificaContaCpfTitularidadeResponse" name="ResponsePart"/>
   </message>
   <message name="verificaContaCpfTitularidadeRequest">
      <part element="reqns:verificaContaCpfTitularidade" name="RequestPart"/>
   </message>
   <portType name="D09POVTFPort">
      <operation name="verificaContaCpfTitularidade">
         <input message="tns:verificaContaCpfTitularidadeRequest" name="verificaContaCpfTitularidadeRequest"/>
         <output message="tns:verificaContaCpfTitularidadeResponse" name="verificaContaCpfTitularidadeResponse"/>
      </operation>
   </portType>
   <binding name="D09POVTFHTTPSoapBinding" type="tns:D09POVTFPort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="verificaContaCpfTitularidade">
         <soap:operation soapAction="" style="document"/>
         <input name="verificaContaCpfTitularidadeRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="verificaContaCpfTitularidadeResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="D09POVTFService">
      <port binding="tns:D09POVTFHTTPSoapBinding" name="D09POVTFPort">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://my-server:my-port/sid09/verificaContaCpfTitularidade"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/sid09/verificaContaCpfTitularidade"/> -->
         <!-- This soap:address indicates the location of the Web service over WebSphere MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/sid09/verificaContaCpfTitularidade&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>
